alembic==1.4.2
appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
click==7.1.1
colorama==0.4.3
distlib==0.3.0
Django==3.0.5
django-filter==2.2.0
djangorestframework==3.11.0
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
Mako==1.1.2
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==9.3.0
psycopg2==2.8.5
pylint==2.4.4
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
virtualenv==20.0.18
Werkzeug==1.0.1
wrapt==1.11.2
